<div class="container-fluid">
    <div class="jumbotron naslov"><h1><a routerLink="/pocetna">Dobro došli!</a></h1> </div>
    <div class="row spisak ">
        <div class="col-md-4 spisak1">
            <a class="a" routerLink="/koreografija">Spisak koreografija</a>
        </div>
        <div class="col-md-4 spisak1">
            <a class="a" routerLink="/desavanja">Desavanja</a>
        </div>

        <div class="col-md-4 spisak1">
            <a class="a" routerLink="/kontakt">Prijava</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
