
<div class="wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="forma">
                <p>Prijava za audiciju - prijem novih clanova</p>
                <div class="form-group">
                    <label for="ime">Ime:</label>
                    <input type="ime" class="form-control" id="ime" placeholder="Unesi ime">
                    <label for="prezime">Prezime:</label>
                    <input type="prezime" class="form-control" id="prezime" placeholder="Unesite prezime">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Unesite email">
                    <label for="broj">Broj telefona:</label>
                    <input type="broj" class="form-control" id="broj" placeholder="Unesite broj">
                    <button type="submit" class="btn btn-default">Posalji</button>
                </div>
            </div>
        </div>
    </div>
</div>